.gmap {
  height: 300px;
  position: relative;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.service-block {

  .heading-md {
    min-height: 50px;
  }
}

footer {
  .copyright-section {
    padding: 10px 0;

    .row {
      margin: 0;
    }
  }
}